# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/*
**/main
**/*.out

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Editor files
*~
*.orig

# Dependency directories (remove the comment below to include it)
# vendor/

!vendor/**/zz_generated.*

