[submodule "third_party/googleapis"]
	path = third_party/googleapis
	url = https://github.com/googleapis/googleapis.git
[submodule "third_party/grpc-proto"]
	path = third_party/grpc-proto
	url = https://github.com/grpc/grpc-proto.git
