# See https://github.com/grpc/test-infra/config/defaults.go for documentation on each field.

defaultPoolLabels:
  client: default-client-pool
  driver: default-driver-pool
  server: default-server-pool

cloneImage: "{{ .InitImagePrefix }}clone:{{ .Version }}"

readyImage: "{{ .InitImagePrefix }}ready:{{ .Version }}"

driverImage: "{{ .RunImagePrefix }}driver:{{ .Version }}"

killAfter: {{ .KillAfter }}

languages:
- language: csharp
  buildImage: "{{ .BuildImagePrefix }}csharp:{{ .Version }}"
  runImage: mcr.microsoft.com/dotnet/runtime:3.1-bullseye-slim

- language: dotnet
  buildImage: "{{ .BuildImagePrefix }}dotnet:{{ .Version }}"
  runImage: "{{ .RunImagePrefix }}dotnet:{{ .Version }}"

- language: cxx
  buildImage: us-docker.pkg.dev/grpc-testing/testing-images-public/bazel:0f909e43012a80faa92e07b7871268841ce56ebc
  runImage: "{{ .RunImagePrefix }}cxx:{{ .Version }}"

- language: go
  buildImage: golang:1.17
  runImage: "{{ .RunImagePrefix }}go:{{ .Version }}"

- language: java
  buildImage: gradle:jdk8
  runImage: "{{ .RunImagePrefix }}java:{{ .Version }}"

- language: node
  buildImage: "{{ .BuildImagePrefix }}node:{{ .Version }}"
  runImage: "{{ .RunImagePrefix }}node:{{ .Version }}"

- language: php7
  buildImage: "{{ .BuildImagePrefix }}php7:{{ .Version }}"
  runImage: "{{ .RunImagePrefix }}php7:{{ .Version }}"

- language: php7_protobuf_c
  buildImage: "{{ .BuildImagePrefix }}php7:{{ .Version }}"
  runImage: "{{ .RunImagePrefix }}php7:{{ .Version }}"

- language: python
  buildImage: us-docker.pkg.dev/grpc-testing/testing-images-public/bazel:0f909e43012a80faa92e07b7871268841ce56ebc
  runImage: "{{ .RunImagePrefix }}python:{{ .Version }}"

- language: python_asyncio
  buildImage: us-docker.pkg.dev/grpc-testing/testing-images-public/bazel:0f909e43012a80faa92e07b7871268841ce56ebc
  runImage: "{{ .RunImagePrefix }}python:{{ .Version }}"

- language: ruby
  buildImage: "{{ .BuildImagePrefix }}ruby:{{ .Version }}"
  runImage: "{{ .RunImagePrefix }}ruby:{{ .Version }}"
