# See https://github.com/grpc/test-infra/config/defaults.go for documentation on each field.

defaultPoolLabels:
  client: default-client-pool
  driver: default-driver-pool
  server: default-server-pool

cloneImage: "{{ .InitImagePrefix }}clone:{{ .Version }}"

readyImage: "{{ .InitImagePrefix }}ready:{{ .Version }}"

driverImage: "{{ .ImagePrefix }}driver:{{ .Version }}"

killAfter: {{ .KillAfter }}

languages:
- language: csharp
  buildImage: "{{ .BuildImagePrefix }}csharp:{{ .Version }}"
  runImage: mcr.microsoft.com/dotnet/runtime:3.1-bullseye-slim

- language: cxx
  buildImage: l.gcr.io/google/bazel:latest
  runImage: "{{ .ImagePrefix }}cxx:{{ .Version }}"

- language: go
  buildImage: golang:1.14
  runImage: "{{ .ImagePrefix }}go:{{ .Version }}"

- language: java
  buildImage: gradle:jdk8
  runImage: "{{ .ImagePrefix }}java:{{ .Version }}"

- language: node
  buildImage: "{{ .BuildImagePrefix }}node:{{ .Version }}"
  runImage: "{{ .ImagePrefix }}node:{{ .Version }}"

- language: php7
  buildImage: "{{ .BuildImagePrefix }}php7:{{ .Version }}"
  runImage: "{{ .ImagePrefix }}php7:{{ .Version }}"

- language: php7_protobuf_c
  buildImage: "{{ .BuildImagePrefix }}php7:{{ .Version }}"
  runImage: "{{ .ImagePrefix }}php7:{{ .Version }}"

- language: python
  buildImage: l.gcr.io/google/bazel:latest
  runImage: "{{ .ImagePrefix }}python:{{ .Version }}"

- language: python_asyncio
  buildImage: l.gcr.io/google/bazel:latest
  runImage: "{{ .ImagePrefix }}python:{{ .Version }}"

- language: ruby
  buildImage: "{{ .BuildImagePrefix }}ruby:{{ .Version }}"
  runImage: "{{ .ImagePrefix }}ruby:{{ .Version }}"
