apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: pod_driver_role
rules:
- apiGroups: [""]
  resources:
  - pods
  verbs:
  - get
  - list
  - watch
- apiGroups: [""]
  resources:
  - pods/status
  verbs:
  - get
- apiGroups:
  - e2etest.grpc.io
  resources:
  - loadtests
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - e2etest.grpc.io
  resources:
  - loadtests/status
  verbs:
  - get
